<a href="https://colab.research.google.com/github/nayem-uddin/udemy-python-course/blob/main/Level4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Functions**

## **Some Other Built-in Functions**

In [ ]:
a = 1
b = 2
c = 3
minimum_value =  min(1,2,3)
print(minimum_value)

1

In [ ]:
x,y,z = 1,2,3
print(max(x,y,z))

3

In [ ]:
a = -7.6
print(abs(a))
print(round(a))

7.6
-8

#### **Exercise 4.1**

In [ ]:
ahsoka = 1.70
yoda = 0.66
r2d2 = 1.09
average_height = (ahsoka+yoda+r2d2)/3
maximum_height = max(ahsoka,yoda,r2d2)
minimum_height = min(ahsoka,yoda,r2d2)
print("The average height is "+str(average_height)+". The maximum height is "+str(maximum_height)+". The minimum height is "+str(minimum_height)+".")

The average height is 1.1500000000000001. The maximum height is 1.7. The minimum height is 0.66.

In [ ]:
name = input('What is your name? ')

What is your name? Nayem

In [ ]:
print("Your name is "+name)

Your name is Nayem

In [ ]:
name = input('What is your name? ')
height = input('What is your height? ')
age = input('What is your age? ')
print("Your name, height, and age is "+name+', '+height+', and '+age+', respectively')

What is your name? Yoda
What is your height? 0.66 m
What is your age? 900 years
Your name, height, and age is Yoda, 0.66 m, and 900 years, respectively

"input" function takes string input, so no problem with using '+' with "height" and "age" varibles here, though we may assume that these are numeric variables.

#### **Exercise 4.2**

In [ ]:
name = input("What is your name? ")
age = input("What is your age? ")
print("Your name is "+name+". Your age is "+age+'.')

What is your name? Pial
What is your age? 23
Your name is Pial. Your age is 23.

To render the input of a variable integer (say), we can use "int" around the "input" function like the following example.

In [ ]:
age = int(input("Enter your age: "))

Enter your age: 24

In [ ]:
type(age) # to check if we've done the thing right

int