<a href="https://colab.research.google.com/github/nayem-uddin/udemy-python-course/blob/main/Level_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Using Sum and List funtions**

In [ ]:
boba_fett_experience = 20
storm_trooper_experience = 10
experience = sum(boba_fett_experience, storm_trooper_experience)
print(experience)

TypeError: 'int' object is not iterable

In [ ]:
experience = [boba_fett_experience, storm_trooper_experience]
total_experience = sum(experience)
print(total_experience)

30

The variable "experience" in the above cell is a "list".

In [ ]:
print(type(experience))

<class 'list'>

In [8]:
#create our list_of_year_experience
list_of_year_experience = [20, 30]

#check to see what data type list_of_experience is
print(type(list_of_year_experience))

<class 'list'>

In [9]:
#create a variable called sum_of_list
sum_of_list = sum(list_of_year_experience)

#print the sum_of_list
print(sum_of_list)

50

#### **Exercise 5.1**

In [10]:
height = [1.7, 0.66, 1.09]
print(type(height))
print(sum(height))

<class 'list'>
3.45