<a href="https://colab.research.google.com/github/nayem-uddin/udemy-python-course/blob/main/Level_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Using Sum and List funtions**

In [ ]:
boba_fett_experience = 20
storm_trooper_experience = 10
experience = sum(boba_fett_experience, storm_trooper_experience)
print(experience)

TypeError: 'int' object is not iterable

In [ ]:
experience = [boba_fett_experience, storm_trooper_experience]
total_experience = sum(experience)
print(total_experience)

30

The variable "experience" in the above cell is a "list".

In [ ]:
print(type(experience))

<class 'list'>

In [ ]:
#create our list_of_year_experience
list_of_year_experience = [20, 30]

#check to see what data type list_of_experience is
print(type(list_of_year_experience))

<class 'list'>

In [ ]:
#create a variable called sum_of_list
sum_of_list = sum(list_of_year_experience)

#print the sum_of_list
print(sum_of_list)

50

#### **Exercise 5.1**

In [ ]:
height = [1.7, 0.66, 1.09]
print(type(height))
print(sum(height))

<class 'list'>
3.45

#### **Final Exercise: Grocery Shopping List**

In [3]:
# Your code starts here

# Step 1: Create the initial shopping list
shopping_list = ["Bread", "Milk", "Eggs", "Bananas"]

# Step 2: Add "Apple" to the list
shopping_list.append("Apple")

# Step 3: Remove "Bread" from the list
shopping_list.remove("Bread")

# Step 4: Create the show_list function
def show_list(any_list):
  print(any_list)

# Step 5: Create the total_items function
def total_items(any_list):
  return len(any_list)

# Step 6: Display the shopping list and the total number of items
print("Your shopping list: ")

#TODO
show_list(shopping_list)
print("Total items: ",total_items(shopping_list))

Your shopping list:
['Milk', 'Eggs', 'Bananas', 'Apple']
Total items:  4