<a href="https://colab.research.google.com/github/nayem-uddin/udemy-python-course/blob/main/Level4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Functions**

## **Some Other Built-in Functions**

In [ ]:
a = 1
b = 2
c = 3
minimum_value =  min(1,2,3)
print(minimum_value)

1

In [ ]:
x,y,z = 1,2,3
print(max(x,y,z))

3

In [ ]:
a = -7.6
print(abs(a))
print(round(a))

7.6
-8

#### **Exercise 4.1**

In [ ]:
ahsoka = 1.70
yoda = 0.66
r2d2 = 1.09
average_height = (ahsoka+yoda+r2d2)/3
maximum_height = max(ahsoka,yoda,r2d2)
minimum_height = min(ahsoka,yoda,r2d2)
print("The average height is "+str(average_height)+". The maximum height is "+str(maximum_height)+". The minimum height is "+str(minimum_height)+".")

The average height is 1.1500000000000001. The maximum height is 1.7. The minimum height is 0.66.

In [ ]:
name = input('What is your name? ')

What is your name? Nayem

In [ ]:
print("Your name is "+name)

Your name is Nayem

In [ ]:
name = input('What is your name? ')
height = input('What is your height? ')
age = input('What is your age? ')
print("Your name, height, and age is "+name+', '+height+', and '+age+', respectively')

What is your name? Yoda
What is your height? 0.66 m
What is your age? 900 years
Your name, height, and age is Yoda, 0.66 m, and 900 years, respectively

"input" function takes string input, so no problem with using '+' with "height" and "age" varibles here, though we may assume that these are numeric variables.

#### **Exercise 4.2**

In [ ]:
name = input("What is your name? ")
age = input("What is your age? ")
print("Your name is "+name+". Your age is "+age+'.')

What is your name? Pial
What is your age? 23
Your name is Pial. Your age is 23.

To render the input of a variable integer (say), we can use "int" around the "input" function like the following example.

In [ ]:
age = int(input("Enter your age: "))

Enter your age: 24

In [ ]:
type(age) # to check if we've done the thing right

int

## **Creating basic custom functions**

### **Part 1**

In [ ]:
def your_name_function():
  your_name = input("What is your name? ")
  print("Your name is "+your_name)

In [ ]:
your_name_function()

What is your name? Finn
Your name is Finn

#### **Exercise 4.3**

In [ ]:
def age_of_rey():
  reys_age = input("How old is Rey? ")
  print("Rey is "+reys_age+" years old.")

In [ ]:
age_of_rey()

How old is Rey? 19
Rey is 19 years old.

### **Part 2**

In [7]:
name = input("What is his name? ")
age = input("What is "+name+"'s age? ")

def age_in_one_year(name,age):
  age_next_year = int(age) + 1
  print("In one year, "+name+" will be "+str(age_next_year)+" years old.")

age_in_one_year(name,age)

What is his name? Mando
What is Mando's age? 37
In one year, Mando will be 38 years old.

#### **Exercise 4.4**

In [4]:
passenger = input("Who was on the Titanic? ")
current_year = input("What year it is? ")

def when_titanic_sunk(passenger,current_year):
  years_ago = int(current_year) - 1912
  print(passenger+" were on the Titanic, which sunk "+str(years_ago)+" years ago.")

when_titanic_sunk(passenger,current_year)

Who was on the Titanic? Jack and Rose
What year it is? 2024
Jack and Rose were on the Titanic, which sunk 112 years ago.

### **Creating Advanced Functions (Keywords and Default Values)**

Using keyword arguments, you can pass values through a function even not in order!

In [8]:
name = input("What is his name? ")
age = input("What is "+name+"'s age? ")

def age_in_one_year(name,age):
  age_next_year = int(age) + 1
  print("In one year, "+name+" will be "+str(age_next_year)+" years old.")

age_in_one_year(name,age) #the variables taken as inputs are passed
age_in_one_year("Chris",51) #direct values are passed
age_in_one_year(age='51',name='Chris') #keyword arguments

What is his name? Chris
What is Chris's age? 43
In one year, Chris will be 44 years old.
In one year, Chris will be 52 years old.
In one year, Chris will be 52 years old.

Default value is used when function is called, but we don't put values there.

In [9]:
def your_name_function(name='Chris'):
  print("Your name is "+name)

your_name_function("Yoda")
your_name_function("Nayem")
your_name_function() #this line will show default value

Your name is Yoda
Your name is Nayem
Your name is Chris

#### **Exercise 4.5**

In [12]:
def your_age(age='19'):
  print("Your age is "+age)

your_age("23")
your_age()

Your age is 23
Your age is 19

### **Returning values from custom functions**

In [13]:
def farenheit_to_celcius(farenheit):
  return (farenheit - 32) * 5/9

farenheit_to_celcius(80)

26.666666666666668

#### **Exercise 4.6**

In [16]:
def celcius_to_farenheit(temp):
  return temp*9/5 + 32

celcius_to_farenheit(26.666666666666668)

80.0