<a href="https://colab.research.google.com/github/nayem-uddin/udemy-python-course/blob/main/Level_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **The IF-ELSE statement**

In [ ]:
name = input("What is the name of the Star Wars character? ")
jedi_test = input("Is the character holding a lightsaber? ")
if jedi_test == "yes":
    print(name+" is a Jedi.")

What is the name of the Star Wars character? Yoda
Is the character holding a lightsaber? yes
Yoda is a Jedi.

In [ ]:
name = input("What is the name of the Star Wars character? ")
jedi_test = input("Is the character holding a lightsaber? ")
if jedi_test == "yes":
    print(name+" is a Jedi.")
else:
    print(name+" is not a Jedi.")

What is the name of the Star Wars character? Finn
Is the character holding a lightsaber? no
Finn is not a Jedi.

#### **Exercise 6.18**

In [ ]:
x = input("Is Rose holding a lightsaber? ")
if x == "Yes":
    print("Yes")
else:
    print("No")

Is Rose holding a lightsaber? Yes
Yes

## **The Nested IF-ELSE Statement**

In [ ]:
jedi_test = input("Is the character holding a lightsaber? ")
if jedi_test == "yes":
    print("The character is a Jedi.")
    color = input("Is the lightsaber red? ")
    if color == "yes":
        print("The character is Darth Vader.")
else:
    print("The character is not a Jedi.")

Is the character holding a lightsaber? yes
The character is a Jedi.
Is the lightsaber red? yes
The character is Darth Vader.

#### **Exercise 6.2**

In [ ]:
jedi_test = input("Is the character holding a lightsaber? ")
if jedi_test == "yes":
    print("The character is a Jedi.")
    color = input("Is the lightsaber green? ")
    if color == "yes":
        print("The character is Yoda.")

Is the character holding a lightsaber? yes
The character is a Jedi.
Is the lightsaber green? yes
The character is Yoda.

## **ELIF statement and OR & AND Logic**

In [ ]:
army_size = input("How many characters are in the army? Please enter only 1, 2 or 3? ")
if army_size == "1":
  print("The army of 1 will lose to the army of 2 and the army of 3.")
elif army_size == "2":
  print("The army of 2 will beat the army of 1, but lose to the army of 3.")
elif army_size == "3":
  print("The army of 3 will beat the army of 2 and the army of 1.")
else:
  print("Please enter only 1, 2 or 3.")

How many characters are in the army? Please enter only 1, 2 or 3? 5
Please enter only 1, 2 or 3.

Let's learn NOT EQUAL (!=) and OR !!!

In [ ]:
army_size = input("How many characters are in the army? Please enter only 1, 2 or 3? ")
if army_size == "1":
  print("The army of 1 will lose to the army of 2 and the army of 3.")
elif army_size == "2":
  print("The army of 2 will beat the army of 1, but lose to the army of 3.")
elif army_size == "3":
  print("The army of 3 will beat the army of 2 and the army of 1.")
elif army_size != "1" or "2" or "3":
  print("Please enter only 1, 2 or 3.")
print(type(army_size))

How many characters are in the army? Please enter only 1, 2 or 3? 3
The army of 3 will beat the army of 2 and the army of 1.
<class 'str'>

In [ ]:
# Cost of the army
# done by me
print("The cost of the army is",int(army_size)*10)
# The mentor did it in the following way
army_size = int(army_size)
print("The cost of the army is "+str(army_size*10))

The cost of the army is 30
The cost of the army is 30

In [ ]:
if army_size == 1 or army_size == 3:
  print("There are an odd number of characters in the army you selected.")
else:
  print("There are an even number of characters in the army you selected.")

There are an odd number of characters in the army you selected.

Let's learn how to use AND !!!

In [ ]:
good_or_not_good = input("Type good or not good. ")
if good_or_not_good == "good" and army_size == 1:
  print("You selected an army of 1 and C3PO, which is good.")
else:
  print("You didn't select an army size of 1 AND good.")

Type good or not good. good
You didn't select an army size of 1 AND good.

#### **Exercise 6.3**

In [ ]:
# part 1
select_team = input("Select your team. Input 1, 2 or 3: ")
if select_team == '1':
  print("You picked team 1, which has 1 character, which is Yoda.")
elif select_team == '2':
  print("You picked team 2, which has 2 characters, Jack and Rose.")
elif select_team == '3':
  print("You picked team 3, which has 2 characters, Darth Vader and Leah.")
else:
  print("Please enter only 1, 2 or 3.")

# part 2
if select_team != "1" and select_team != "3":
  print("The number of people on the team you selected is even.")
else:
  print("The number of people on the team you selected is odd.")

Select your team. Input 1, 2 or 3: 2
You picked team 2, which has 2 characters, Jack and Rose.
The number of people on the team you selected is even.

Please don't ask this question, "Man! this code will show any number outside 1 and 3 as even, which is intuitively not correct." Have patience, we're just learning now !!!

## **MATCH and CASE logic**

To check what version of Python you are using, do the following:

In [ ]:
import platform
print(platform.python_version())

3.10.12

In [ ]:
army_size = input("How many characters are in the army? Please enter only 1, 2 or 3? ")
good_or_not_good = input("Is the army good or not good? ")
army_size = int(army_size)
match good_or_not_good:
  case "good":
    print("good")
  case "not good":
    print("not good")

How many characters are in the army? Please enter only 1, 2 or 3? 3
Is the army good or not good? not good
not good

### **Nested MATCH CASE**

In [ ]:
match good_or_not_good:
  case "good":
    match army_size:
      case 1:
        print("good 1")
      case 2:
        print("good 2")
      case 3:
        print("good 3")
  case "not good":
    match army_size:
      case 1:
        print("not good 1")
      case 2:
        print("not good 2")
      case 3:
        print("not good 3")

not good 3

#### **Exercise 6.4**

In [ ]:
team_choice = input("Choose your team. Enter 1, 2 or 3: ")
team_choice = int(team_choice)
match team_choice:
  case 1:
    print("You selected Team 1.")
  case 2:
    print("You selected Team 2.")
  case 3:
    print("You selected Team 3.")

Choose your team. Enter 1, 2 or 3: 2
You selected Team 2.

## **Formatting**

In [ ]:
name = input("What is your name?\n") #\n means new line

What is your name?
pial

In [ ]:
ticket = input("What class of ticket do you want to buy for the Titanic? Select 1 or 3\n")
print(f"You selected class {ticket}") #f for formatting
if ticket == '1':
  price = 870
else:
  price = 7

print(f"The price of your ticket is {price:.2f} pounds.") #.2f means 2 decimal places

What class of ticket do you want to buy for the Titanic? Select 1 or 3
1
You selected class 1
The price of your ticket is 870.00 pounds.

#### **Exercise 6.5**

In [ ]:
f_class = input("Enter the number of 1st class tickets you want to purchase: ")
s_class = input("Enter the number of 2nd class tickets you want to purchase: ")
t_class = input("Enter the number of 3rd class tickets you want to purchase: ")
price = 870*int(f_class) + 100.42*int(s_class) + 7*int(t_class)
print(f"The Total price is {price:.2f} pounds.")

Enter the number of 1st class tickets you want to purchase: 1
Enter the number of 2nd class tickets you want to purchase: 1
Enter the number of 3rd class tickets you want to purchase: 1
The Total price is 977.42 pounds.

## **Slicing**

"Slicing" refers to extracting the parts of the data.

In [ ]:
name = "James Bond"
first_name = name[0:5] #this will print first 5 characters
last_name = name[6:10] #this will print last 4 characters
print(f"The full name is {first_name} {last_name}")

The full name is James Bond

We can write the above code as follows.

In [ ]:
name = "James Bond"
first_name = name[:5] #this will print first 5 characters
last_name = name[6:] #this will print last 4 characters
print(f"The full name is {first_name} {last_name}")

The full name is James Bond

To extract a single character, write a single number withing the square brackets.

In [ ]:
n = name[0]
print(n)

J

Using a '+'ve number within the square brackets starts counting from the beginning, whereas using '-'ve one starts from the end.

In [ ]:
x = name[1]
print(x)
y = name[-1]
print(y)

a
d

#### **Exercise 6.6**

In [ ]:
ship = 'Titanic'
print(ship[-1])
print(ship[6])
print(ship[6:])

c
c
c

## **"For" loop**

In [ ]:
jedis = ["Darth Vader","Rey","Yoda","Ahsoka","Mr. Skywalker","Leia"]
for x in jedis:
  print(x+" is a Jedi.")

Darth Vader is a Jedi.
Rey is a Jedi.
Yoda is a Jedi.
Ahsoka is a Jedi.
Mr. Skywalker is a Jedi.
Leia is a Jedi.

We can use "For" loop in a string as well.

In [ ]:
for x in "camera":
  print(x)

c
a
m
e
r
a

To exit a loop, use "break".

In [ ]:
for x in jedis:
  print(x+" is a Jedi.")
  if x == "Yoda":
    break

Darth Vader is a Jedi.
Rey is a Jedi.
Yoda is a Jedi.

In [ ]:
#"for" loop using "range"
for x in range(1,9): #up to, but not including, 9
  print(x)

1
2
3
4
5
6
7
8

#### **Exercise 6.7**

In [5]:
names=["Luka","Leia"]
for name in names:
  print(name+' I am your father.')

Luka I am your father.
Leia I am your father.

## **"while" loop**

In [6]:
baby_yoda_age = 50
while baby_yoda_age<=100:
  print(f"You cannot use the lightsaber until you are 100. You are currently {baby_yoda_age}.")
  baby_yoda_age = baby_yoda_age + 1

You cannot use the lightsaber until you are 100. You are currently 50.
You cannot use the lightsaber until you are 100. You are currently 51.
You cannot use the lightsaber until you are 100. You are currently 52.
You cannot use the lightsaber until you are 100. You are currently 53.
You cannot use the lightsaber until you are 100. You are currently 54.
You cannot use the lightsaber until you are 100. You are currently 55.
You cannot use the lightsaber until you are 100. You are currently 56.
You cannot use the lightsaber until you are 100. You are currently 57.
You cannot use the lightsaber until you are 100. You are currently 58.
You cannot use the lightsaber until you are 100. You are currently 59.
You cannot use the lightsaber until you are 100. You are currently 60.
You cannot use the lightsaber until you are 100. You are currently 61.
You cannot use the lightsaber until you are 100. You are currently 62.
You cannot use the lightsaber until you are 100. You are currently 63.
You cannot use the lightsaber until you are 100. You are currently 64.
You cannot use the lightsaber until you are 100. You are currently 65.
You cannot use the lightsaber until you are 100. You are currently 66.
You cannot use the lightsaber until you are 100. You are currently 67.
You cannot use the lightsaber until you are 100. You are currently 68.
You cannot use the lightsaber until you are 100. You are currently 69.
You cannot use the lightsaber until you are 100. You are currently 70.
You cannot use the lightsaber until you are 100. You are currently 71.
You cannot use the lightsaber until you are 100. You are currently 72.
You cannot use the lightsaber until you are 100. You are currently 73.
You cannot use the lightsaber until you are 100. You are currently 74.
You cannot use the lightsaber until you are 100. You are currently 75.
You cannot use the lightsaber until you are 100. You are currently 76.
You cannot use the lightsaber until you are 100. You are currently 77.
You cannot use the lightsaber until you are 100. You are currently 78.
You cannot use the lightsaber until you are 100. You are currently 79.
You cannot use the lightsaber until you are 100. You are currently 80.
You cannot use the lightsaber until you are 100. You are currently 81.
You cannot use the lightsaber until you are 100. You are currently 82.
You cannot use the lightsaber until you are 100. You are currently 83.
You cannot use the lightsaber until you are 100. You are currently 84.
You cannot use the lightsaber until you are 100. You are currently 85.
You cannot use the lightsaber until you are 100. You are currently 86.
You cannot use the lightsaber until you are 100. You are currently 87.
You cannot use the lightsaber until you are 100. You are currently 88.
You cannot use the lightsaber until you are 100. You are currently 89.
You cannot use the lightsaber until you are 100. You are currently 90.
You cannot use the lightsaber until you are 100. You are currently 91.
You cannot use the lightsaber until you are 100. You are currently 92.
You cannot use the lightsaber until you are 100. You are currently 93.
You cannot use the lightsaber until you are 100. You are currently 94.
You cannot use the lightsaber until you are 100. You are currently 95.
You cannot use the lightsaber until you are 100. You are currently 96.
You cannot use the lightsaber until you are 100. You are currently 97.
You cannot use the lightsaber until you are 100. You are currently 98.
You cannot use the lightsaber until you are 100. You are currently 99.
You cannot use the lightsaber until you are 100. You are currently 100.

We can use "if-else" in "for" and "while" loop.

In [7]:
baby_yoda_age = 50
while baby_yoda_age<=100:
  print(f"You cannot use the lightsaber until you are 100. You are currently {baby_yoda_age}.")
  baby_yoda_age = baby_yoda_age + 1
  if baby_yoda_age >= 90:
    print("I am getting too old for this. Leave me alone b.y.")

You cannot use the lightsaber until you are 100. You are currently 50.
You cannot use the lightsaber until you are 100. You are currently 51.
You cannot use the lightsaber until you are 100. You are currently 52.
You cannot use the lightsaber until you are 100. You are currently 53.
You cannot use the lightsaber until you are 100. You are currently 54.
You cannot use the lightsaber until you are 100. You are currently 55.
You cannot use the lightsaber until you are 100. You are currently 56.
You cannot use the lightsaber until you are 100. You are currently 57.
You cannot use the lightsaber until you are 100. You are currently 58.
You cannot use the lightsaber until you are 100. You are currently 59.
You cannot use the lightsaber until you are 100. You are currently 60.
You cannot use the lightsaber until you are 100. You are currently 61.
You cannot use the lightsaber until you are 100. You are currently 62.
You cannot use the lightsaber until you are 100. You are currently 63.
You cannot use the lightsaber until you are 100. You are currently 64.
You cannot use the lightsaber until you are 100. You are currently 65.
You cannot use the lightsaber until you are 100. You are currently 66.
You cannot use the lightsaber until you are 100. You are currently 67.
You cannot use the lightsaber until you are 100. You are currently 68.
You cannot use the lightsaber until you are 100. You are currently 69.
You cannot use the lightsaber until you are 100. You are currently 70.
You cannot use the lightsaber until you are 100. You are currently 71.
You cannot use the lightsaber until you are 100. You are currently 72.
You cannot use the lightsaber until you are 100. You are currently 73.
You cannot use the lightsaber until you are 100. You are currently 74.
You cannot use the lightsaber until you are 100. You are currently 75.
You cannot use the lightsaber until you are 100. You are currently 76.
You cannot use the lightsaber until you are 100. You are currently 77.
You cannot use the lightsaber until you are 100. You are currently 78.
You cannot use the lightsaber until you are 100. You are currently 79.
You cannot use the lightsaber until you are 100. You are currently 80.
You cannot use the lightsaber until you are 100. You are currently 81.
You cannot use the lightsaber until you are 100. You are currently 82.
You cannot use the lightsaber until you are 100. You are currently 83.
You cannot use the lightsaber until you are 100. You are currently 84.
You cannot use the lightsaber until you are 100. You are currently 85.
You cannot use the lightsaber until you are 100. You are currently 86.
You cannot use the lightsaber until you are 100. You are currently 87.
You cannot use the lightsaber until you are 100. You are currently 88.
You cannot use the lightsaber until you are 100. You are currently 89.
I am getting too old for this. Leave me alone b.y.
You cannot use the lightsaber until you are 100. You are currently 90.
I am getting too old for this. Leave me alone b.y.
You cannot use the lightsaber until you are 100. You are currently 91.
I am getting too old for this. Leave me alone b.y.
You cannot use the lightsaber until you are 100. You are currently 92.
I am getting too old for this. Leave me alone b.y.
You cannot use the lightsaber until you are 100. You are currently 93.
I am getting too old for this. Leave me alone b.y.
You cannot use the lightsaber until you are 100. You are currently 94.
I am getting too old for this. Leave me alone b.y.
You cannot use the lightsaber until you are 100. You are currently 95.
I am getting too old for this. Leave me alone b.y.
You cannot use the lightsaber until you are 100. You are currently 96.
I am getting too old for this. Leave me alone b.y.
You cannot use the lightsaber until you are 100. You are currently 97.
I am getting too old for this. Leave me alone b.y.
You cannot use the lightsaber until you are 100. You are currently 98.
I am getting too old for this. Leave me alone b.y.
You cannot use the lightsaber until you are 100. You are currently 99.
I am getting too old for this. Leave me alone b.y.
You cannot use the lightsaber until you are 100. You are currently 100.
I am getting too old for this. Leave me alone b.y.

#### **Exercise 6.8**

In [8]:
year = 1912
while year <= 1984:
  print(f"It is {year} and nobody has found the Titanic yet.")
  year = year + 1

It is 1912 and nobody has found the Titanic yet.
It is 1913 and nobody has found the Titanic yet.
It is 1914 and nobody has found the Titanic yet.
It is 1915 and nobody has found the Titanic yet.
It is 1916 and nobody has found the Titanic yet.
It is 1917 and nobody has found the Titanic yet.
It is 1918 and nobody has found the Titanic yet.
It is 1919 and nobody has found the Titanic yet.
It is 1920 and nobody has found the Titanic yet.
It is 1921 and nobody has found the Titanic yet.
It is 1922 and nobody has found the Titanic yet.
It is 1923 and nobody has found the Titanic yet.
It is 1924 and nobody has found the Titanic yet.
It is 1925 and nobody has found the Titanic yet.
It is 1926 and nobody has found the Titanic yet.
It is 1927 and nobody has found the Titanic yet.
It is 1928 and nobody has found the Titanic yet.
It is 1929 and nobody has found the Titanic yet.
It is 1930 and nobody has found the Titanic yet.
It is 1931 and nobody has found the Titanic yet.
It is 1932 and nobody has found the Titanic yet.
It is 1933 and nobody has found the Titanic yet.
It is 1934 and nobody has found the Titanic yet.
It is 1935 and nobody has found the Titanic yet.
It is 1936 and nobody has found the Titanic yet.
It is 1937 and nobody has found the Titanic yet.
It is 1938 and nobody has found the Titanic yet.
It is 1939 and nobody has found the Titanic yet.
It is 1940 and nobody has found the Titanic yet.
It is 1941 and nobody has found the Titanic yet.
It is 1942 and nobody has found the Titanic yet.
It is 1943 and nobody has found the Titanic yet.
It is 1944 and nobody has found the Titanic yet.
It is 1945 and nobody has found the Titanic yet.
It is 1946 and nobody has found the Titanic yet.
It is 1947 and nobody has found the Titanic yet.
It is 1948 and nobody has found the Titanic yet.
It is 1949 and nobody has found the Titanic yet.
It is 1950 and nobody has found the Titanic yet.
It is 1951 and nobody has found the Titanic yet.
It is 1952 and nobody has found the Titanic yet.
It is 1953 and nobody has found the Titanic yet.
It is 1954 and nobody has found the Titanic yet.
It is 1955 and nobody has found the Titanic yet.
It is 1956 and nobody has found the Titanic yet.
It is 1957 and nobody has found the Titanic yet.
It is 1958 and nobody has found the Titanic yet.
It is 1959 and nobody has found the Titanic yet.
It is 1960 and nobody has found the Titanic yet.
It is 1961 and nobody has found the Titanic yet.
It is 1962 and nobody has found the Titanic yet.
It is 1963 and nobody has found the Titanic yet.
It is 1964 and nobody has found the Titanic yet.
It is 1965 and nobody has found the Titanic yet.
It is 1966 and nobody has found the Titanic yet.
It is 1967 and nobody has found the Titanic yet.
It is 1968 and nobody has found the Titanic yet.
It is 1969 and nobody has found the Titanic yet.
It is 1970 and nobody has found the Titanic yet.
It is 1971 and nobody has found the Titanic yet.
It is 1972 and nobody has found the Titanic yet.
It is 1973 and nobody has found the Titanic yet.
It is 1974 and nobody has found the Titanic yet.
It is 1975 and nobody has found the Titanic yet.
It is 1976 and nobody has found the Titanic yet.
It is 1977 and nobody has found the Titanic yet.
It is 1978 and nobody has found the Titanic yet.
It is 1979 and nobody has found the Titanic yet.
It is 1980 and nobody has found the Titanic yet.
It is 1981 and nobody has found the Titanic yet.
It is 1982 and nobody has found the Titanic yet.
It is 1983 and nobody has found the Titanic yet.
It is 1984 and nobody has found the Titanic yet.

# Level 6 Final Exercise: Time Tracker for Tasks

## Objective
You work for a project management company, and they want to offer a simple time tracker tool for their clients. The tool will let users log the number of hours spent on different tasks and then provide a summary at the end.

## Instructions

1. Create a list called `tasks` and populate it with initial tasks: "Planning", "Design", "Coding", "Testing".
2. Create another list called `time_spent` to store the time spent on each task. Initialize it with zeros.
3. Create a function called `log_time` that takes a task name and an amount of time. It will find the task in the `tasks` list and update the corresponding time in `time_spent`.
4. Use a `while` loop to repeatedly ask the user for a task and time spent on that task until they choose to exit.
5. Use a `for` loop to go through the `tasks` and `time_spent` lists, printing out a summary of time spent on each task.

In [29]:
# Step 1: Initial list of tasks
tasks = ["Planning","Design","Coding","Testing"]

# Step 2: Initial list of time spent on tasks (list)
time_spent = [0,0,0,0]

# Step 3: Log time function
def log_time(task_name,amount_of_time):
  match task_name:
      case "Planning":
        time_spent[0] = time_spent[0] + amount_of_time
      case "Design":
        time_spent[1] = time_spent[1] + amount_of_time
      case "Coding":
        time_spent[2] = time_spent[2] + amount_of_time
      case "Testing":
        time_spent[3] = time_spent[3] + amount_of_time

# Step 4: User input and loop
print("Tasks: ",tasks)
while True:
  task = input("Enter a task to log time for it / or enter exit to stop the program. ")
  if task == "exit":
    break
  elif task not in tasks:
    print("Oops! We coudn't find that taks, please try again.")
    continue
  time_spent_input = float(input("How many hours did you spend on this task? "))
  log_time(task,time_spent_input)

# Step 5: Summary of time spent
print("\nSummary of time spent on tasks:")
for x in range(0,4):
  print(f"{tasks[x]}: {time_spent[x]:.1f} hours.")

Tasks:  ['Planning', 'Design', 'Coding', 'Testing']
Enter a task to log time for it / or enter exit to stop the program. dasa
Oops! We coudn't find that taks, please try again.
Enter a task to log time for it / or enter exit to stop the program. Planning
How many hours did you spend on this task? 2
Enter a task to log time for it / or enter exit to stop the program. Design
How many hours did you spend on this task? 4
Enter a task to log time for it / or enter exit to stop the program. Coding
How many hours did you spend on this task? 5
Enter a task to log time for it / or enter exit to stop the program. Testing
How many hours did you spend on this task? 1
Enter a task to log time for it / or enter exit to stop the program. exit

Summary of time spent on tasks:
Planning: 2.0 hours.
Design: 4.0 hours.
Coding: 5.0 hours.
Testing: 1.0 hours.