<a href="https://colab.research.google.com/github/nayem-uddin/udemy-python-course/blob/main/Level2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data types and variables**

### **String data type**

Here is an example of a string data type.

In [5]:
name="Mr. Skywalker" # or 'Mr. Skywalker'

The code in the above cell can be written in the following way as well.

In [6]:
name=str("Mr. Skywalker") # or str('Mr. Skywalker')

In [7]:
name=int("Mr. Skywalker") # to see that using "int" data type to declare a string variable gives error

ValueError: invalid literal for int() with base 10: 'Mr. Skywalker'

### **Integer data type**

In [8]:
age = 44

We can also write the above code as follows.

In [9]:
age = int(44)

Notice that the code sections above showed no output to us, though they were executed successfully. To see the values of the variables, we need the built-in function 'print'.

In [11]:
print(name)

Mr. Skywalker

To see the data type of a variable, we can use the built-in function 'type'.

In [12]:
type(name)

str

In [13]:
type(age)

int

## **Exercise 2.1**

In [14]:
name = "Darth Vader"

In [15]:
print(name)

Darth Vader

In [17]:
age = 19

In [18]:
print(age)

19