<a href="https://colab.research.google.com/github/nayem-uddin/udemy-python-course/blob/main/Level_16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
string='a'
print(ascii('a'))

'a'

In [ ]:
print(ascii('41'))

'41'

In [ ]:
bytearray(list(range(65, 91))) # converts decimal ASCII values to equivalent characters

bytearray(b'ABCDEFGHIJKLMNOPQRSTUVWXYZ')

In [ ]:
bytes(list(range(65, 91)))

b'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [ ]:
def fun(n):
  return 0
num=0
print(callable(fun))
print(callable(num))

True
False

In [ ]:
my_c=65
print(chr(my_c)) # to convert ASCII to character

A

In [ ]:
class myclass():
  class_v="hello there!"
  def class_m(self):
    return myclass.class_v

In [ ]:
myclass.class_m(myclass)

'hello there!'

In [ ]:
myclass.class_m()

TypeError: myclass.class_m() missing 1 required positional argument: 'self'

To handle this error, we can use "classmethod" function.

In [ ]:
class myclass():
  class_v="hello there!"
  @classmethod
  def class_m(self):
    return myclass.class_v

In [ ]:
myclass.class_m()

'hello there!'

In [ ]:
divmod(16,5) # returns the result and the remainder of the division of the first argument by the second argument

(3, 1)

In [ ]:
r_list=["A","B","C"]
for index,letter in enumerate(r_list): # returns the index and the value
  print(index,letter)

0 A
1 B
2 C

In [ ]:
x="append('d')"
com="r_list."+x
eval("com")
r_list

['A', 'B', 'C', 'd']

In [ ]:
def even(x):
  return x%2==0
list(filter(even,range(10))) # even numbers from 0 to 9

[0, 2, 4, 6, 8]

In [ ]:
name="Alice"
age=29
name+" is "+str(age)+" years old."

'Alice is 29 years old.'

Instead, we can write it in an easier way as follows.

In [ ]:
"{} is {} years old.".format(name,age)

'Alice is 29 years old.'

In [ ]:
frozenset(range(5)) # an immutable set

frozenset({0, 1, 2, 3, 4})

In [ ]:
# to see the details about a function, use "help"
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

"isinstance" is used to check if a data belongs to the specific class that the user wants the data to belong to.

In [ ]:
print(isinstance(10,int)) # to check if 10 belongs to the integer class
print(isinstance(10,str)) # to check if 10 belongs to the string class

True
False

"issubclass" is used to check if a class is a subclass of another class.

In [ ]:
class parent:
  pass
class child(parent):
  pass
issubclass(child, parent)

True

"ord" returns the unicode value of a character.

In [1]:
ord("A") # returns the unicode value of A

65

"reversed" function returns the reversed (not reverse sorted) version of a list, tuple, set or string - whatever it is provided with.

In [2]:
l=[1,2,5,1,3]
list(reversed(l))

[3, 1, 5, 2, 1]

In [6]:
l[slice(1,4)] # return values from the 1st indexed element up to, but not including, the 4th indexed element

[2, 5, 1]