<a href="https://colab.research.google.com/github/nayem-uddin/udemy-python-course/blob/main/Level_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **The IF-ELSE statement**

In [ ]:
name = input("What is the name of the Star Wars character? ")
jedi_test = input("Is the character holding a lightsaber? ")
if jedi_test == "yes":
    print(name+" is a Jedi.")

What is the name of the Star Wars character? Yoda
Is the character holding a lightsaber? yes
Yoda is a Jedi.

In [ ]:
name = input("What is the name of the Star Wars character? ")
jedi_test = input("Is the character holding a lightsaber? ")
if jedi_test == "yes":
    print(name+" is a Jedi.")
else:
    print(name+" is not a Jedi.")

What is the name of the Star Wars character? Finn
Is the character holding a lightsaber? no
Finn is not a Jedi.

#### **Exercise 6.18**

In [ ]:
x = input("Is Rose holding a lightsaber? ")
if x == "Yes":
    print("Yes")
else:
    print("No")

Is Rose holding a lightsaber? Yes
Yes

## **The Nested IF-ELSE Statement**

In [ ]:
jedi_test = input("Is the character holding a lightsaber? ")
if jedi_test == "yes":
    print("The character is a Jedi.")
    color = input("Is the lightsaber red? ")
    if color == "yes":
        print("The character is Darth Vader.")
else:
    print("The character is not a Jedi.")

Is the character holding a lightsaber? yes
The character is a Jedi.
Is the lightsaber red? yes
The character is Darth Vader.

#### **Exercise 6.2**

In [ ]:
jedi_test = input("Is the character holding a lightsaber? ")
if jedi_test == "yes":
    print("The character is a Jedi.")
    color = input("Is the lightsaber green? ")
    if color == "yes":
        print("The character is Yoda.")

Is the character holding a lightsaber? yes
The character is a Jedi.
Is the lightsaber green? yes
The character is Yoda.

## **ELIF statement and OR & AND Logic**

In [ ]:
army_size = input("How many characters are in the army? Please enter only 1, 2 or 3? ")
if army_size == "1":
  print("The army of 1 will lose to the army of 2 and the army of 3.")
elif army_size == "2":
  print("The army of 2 will beat the army of 1, but lose to the army of 3.")
elif army_size == "3":
  print("The army of 3 will beat the army of 2 and the army of 1.")
else:
  print("Please enter only 1, 2 or 3.")

How many characters are in the army? Please enter only 1, 2 or 3? 5
Please enter only 1, 2 or 3.

Let's learn NOT EQUAL (!=) and OR !!!

In [ ]:
army_size = input("How many characters are in the army? Please enter only 1, 2 or 3? ")
if army_size == "1":
  print("The army of 1 will lose to the army of 2 and the army of 3.")
elif army_size == "2":
  print("The army of 2 will beat the army of 1, but lose to the army of 3.")
elif army_size == "3":
  print("The army of 3 will beat the army of 2 and the army of 1.")
elif army_size != "1" or "2" or "3":
  print("Please enter only 1, 2 or 3.")
print(type(army_size))

How many characters are in the army? Please enter only 1, 2 or 3? 3
The army of 3 will beat the army of 2 and the army of 1.
<class 'str'>

In [ ]:
# Cost of the army
# done by me
print("The cost of the army is",int(army_size)*10)
# The mentor did it in the following way
army_size = int(army_size)
print("The cost of the army is "+str(army_size*10))

The cost of the army is 30
The cost of the army is 30

In [ ]:
if army_size == 1 or army_size == 3:
  print("There are an odd number of characters in the army you selected.")
else:
  print("There are an even number of characters in the army you selected.")

There are an odd number of characters in the army you selected.

Let's learn how to use AND !!!

In [ ]:
good_or_not_good = input("Type good or not good. ")
if good_or_not_good == "good" and army_size == 1:
  print("You selected an army of 1 and C3PO, which is good.")
else:
  print("You didn't select an army size of 1 AND good.")

Type good or not good. good
You didn't select an army size of 1 AND good.

#### **Exercise 6.3**

In [ ]:
# part 1
select_team = input("Select your team. Input 1, 2 or 3: ")
if select_team == '1':
  print("You picked team 1, which has 1 character, which is Yoda.")
elif select_team == '2':
  print("You picked team 2, which has 2 characters, Jack and Rose.")
elif select_team == '3':
  print("You picked team 3, which has 2 characters, Darth Vader and Leah.")
else:
  print("Please enter only 1, 2 or 3.")

# part 2
if select_team != "1" and select_team != "3":
  print("The number of people on the team you selected is even.")
else:
  print("The number of people on the team you selected is odd.")

Select your team. Input 1, 2 or 3: 2
You picked team 2, which has 2 characters, Jack and Rose.
The number of people on the team you selected is even.

Please don't ask this question, "Man! this code will show any number outside 1 and 3 as even, which is intuitively not correct." Have patience, we're just learning now !!!

## **MATCH and CASE logic**

To check what version of Python you are using, do the following:

In [ ]:
import platform
print(platform.python_version())

3.10.12

In [ ]:
army_size = input("How many characters are in the army? Please enter only 1, 2 or 3? ")
good_or_not_good = input("Is the army good or not good? ")
army_size = int(army_size)
match good_or_not_good:
  case "good":
    print("good")
  case "not good":
    print("not good")

How many characters are in the army? Please enter only 1, 2 or 3? 3
Is the army good or not good? not good
not good

### **Nested MATCH CASE**

In [ ]:
match good_or_not_good:
  case "good":
    match army_size:
      case 1:
        print("good 1")
      case 2:
        print("good 2")
      case 3:
        print("good 3")
  case "not good":
    match army_size:
      case 1:
        print("not good 1")
      case 2:
        print("not good 2")
      case 3:
        print("not good 3")

not good 3

#### **Exercise 6.4**

In [ ]:
team_choice = input("Choose your team. Enter 1, 2 or 3: ")
team_choice = int(team_choice)
match team_choice:
  case 1:
    print("You selected Team 1.")
  case 2:
    print("You selected Team 2.")
  case 3:
    print("You selected Team 3.")

Choose your team. Enter 1, 2 or 3: 2
You selected Team 2.

## **Formatting**

In [ ]:
name = input("What is your name?\n") #\n means new line

What is your name?
pial

In [ ]:
ticket = input("What class of ticket do you want to buy for the Titanic? Select 1 or 3\n")
print(f"You selected class {ticket}") #f for formatting
if ticket == '1':
  price = 870
else:
  price = 7

print(f"The price of your ticket is {price:.2f} pounds.") #.2f means 2 decimal places

What class of ticket do you want to buy for the Titanic? Select 1 or 3
1
You selected class 1
The price of your ticket is 870.00 pounds.

#### **Exercise 6.5**

In [ ]:
f_class = input("Enter the number of 1st class tickets you want to purchase: ")
s_class = input("Enter the number of 2nd class tickets you want to purchase: ")
t_class = input("Enter the number of 3rd class tickets you want to purchase: ")
price = 870*int(f_class) + 100.42*int(s_class) + 7*int(t_class)
print(f"The Total price is {price:.2f} pounds.")

Enter the number of 1st class tickets you want to purchase: 1
Enter the number of 2nd class tickets you want to purchase: 1
Enter the number of 3rd class tickets you want to purchase: 1
The Total price is 977.42 pounds.

## **Slicing**

"Slicing" refers to extracting the parts of the data.

In [1]:
name = "James Bond"
first_name = name[0:5] #this will print first 5 characters
last_name = name[6:10] #this will print last 4 characters
print(f"The full name is {first_name} {last_name}")

The full name is James Bond

We can write the above code as follows.

In [2]:
name = "James Bond"
first_name = name[:5] #this will print first 5 characters
last_name = name[6:] #this will print last 4 characters
print(f"The full name is {first_name} {last_name}")

The full name is James Bond

To extract a single character, write a single number withing the square brackets.

In [3]:
n = name[0]
print(n)

J

Using a '+'ve number within the square brackets starts counting from the beginning, whereas using '-'ve one starts from the end.

In [4]:
x = name[1]
print(x)
y = name[-1]
print(y)

a
d

#### **Exercise 6.6**

In [6]:
ship = 'Titanic'
print(ship[-1])
print(ship[6])
print(ship[6:])

c
c
c

## **"For" loop**

In [7]:
jedis = ["Darth Vader","Rey","Yoda","Ahsoka","Mr. Skywalker","Leia"]
for x in jedis:
  print(x+" is a Jedi.")

Darth Vader is a Jedi.
Rey is a Jedi.
Yoda is a Jedi.
Ahsoka is a Jedi.
Mr. Skywalker is a Jedi.
Leia is a Jedi.

We can use "For" loop in a string as well.

In [8]:
for x in "camera":
  print(x)

c
a
m
e
r
a

To exit a loop, we can use "break".

In [9]:
for x in jedis:
  print(x+" is a Jedi.")
  if x == "Yoda":
    break

Darth Vader is a Jedi.
Rey is a Jedi.
Yoda is a Jedi.

In [11]:
#"for" loop using "range"
for x in range(1,9): #up to, but not including, 9
  print(x)

1
2
3
4
5
6
7
8