<a href="https://colab.research.google.com/github/nayem-uddin/udemy-python-course/blob/main/Level2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data types and variables**

### **String data type**

Here is an example of a string data type.

In [2]:
name="Mr. Skywalker" # or 'Mr. Skywalker'

The code in the above cell can be written in the following way as well.

In [3]:
name=str("Mr. Skywalker") # or str('Mr. Skywalker')

In [4]:
name=int("Mr. Skywalker") # to see that using "int" data type to declare a string variable gives error

ValueError: invalid literal for int() with base 10: 'Mr. Skywalker'

### **Integer data type**

In [5]:
age = 44

We can also write the above code as follows.

In [6]:
age = int(44)

Notice that the code sections above showed no output to us, though they were executed successfully. To see the values of the variables, we need the built-in function 'print'.

In [7]:
print(name)

Mr. Skywalker

To see the data type of a variable, we can use the built-in function 'type'.

In [8]:
type(name)

str

In [9]:
type(age)

int

#### **Exercise 2.1**

In [10]:
name = "Darth Vader"

In [11]:
print(name)

Darth Vader

In [12]:
age = 19

In [13]:
print(age)

19

### **Float**

Float refers to floating numbers (numbers having decimals).

In [15]:
pi = 3.14
print(pi)
type(pi)

3.14

float

The same result can be obtained as follows.

In [17]:
pi = float(3.14)
print(pi)
type(pi)

3.14

float

### **Boolean**

Boolean means True (1) or False (0).

In [16]:
bool_example = True
print(bool_example)
type(bool_example)

True

bool

The same can be obtained as follows.

In [18]:
bool_example = bool(True)
print(bool_example)
type(bool_example)

True

bool

Another way to accomplish this is as follows.

In [19]:
bool_example = bool(1)
print(bool_example)
type(bool_example)

True

bool

#### **Exercise 2.2**

In [ ]:
i_cannot_do_it = False
print(i_cannot_do_it)
the_answer = 42.01
print(the_answer)

False
42.01