<a href="https://colab.research.google.com/github/nayem-uddin/udemy-python-course/blob/main/Level3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Arithmatic Operations in Python**

In [ ]:
age = 44.4
print(age+1*2) # multiplication executes before plus or minus

46.4

In [ ]:
print((age+1)*2) # add 1 first, then multiply by 2

90.8

In [ ]:
print(age**2) # age to the power 2, or age squared

1971.36

#### **Exercise 3.1**

In [ ]:
Ahsoka_height = 1.70
Yoda_height = 0.66
R2D2_height = 1.09
C3P0_height = 1.75

In [ ]:
print((Ahsoka_height+Yoda_height+R2D2_height+C3P0_height)/4)

1.3

# **Stringing Together Variables**

In [3]:
name = "Yoda"
print("Your name is "+name)
print("Your name is"+name) # to see the difference of putting and not putting a space

Your name isYoda

In [6]:
height = 0.66
age = 900
print("Your name, height, and age is: "+name+", "+height+", and "+age) # to see that string and number can't be "stringed" together

TypeError: can only concatenate str (not "float") to str

To string together a number and a string, we need to convert (cast) the number to string first.

In [7]:
print("Your name, height, and age is: "+str(name)+", "+str(height)+", and "+str(age))

Your name, height, and age is: Yoda, 0.66, and 900

#### **Exercise 3.2**

In [8]:
name1 = "Jack"
name2 = "Rose"
year = 1912
print(name1+" and "+name2+" were on the Titanic in "+str(year))

Jack and Rose were on the Titanic in 1912

#### **Final Exercise**

In [12]:
principal = 1000
rate = 5
time = 2
interest = (principal*rate*time)/100
print("The interest for $"+str(principal)+" principal with "+str(rate)+"% rate after "+str(time)+ " years is: "+str(interest))

The interest for $1000 principal with 5% rate after 2 years is: 100.0