<a href="https://colab.research.google.com/github/nayem-uddin/udemy-python-course/blob/main/Level_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Tuples**

Contrary to list, the elements of a tuple can't be changed.

In [ ]:
tuple1=(1,2,3,4)

In [ ]:
tuple1

(1, 2, 3, 4)

In [ ]:
tuple1[0]=5

TypeError: 'tuple' object does not support item assignment

In [ ]:
tuple1.count(1) #to count the number of an item in a tuple

1

Tuples can contain multiple data types.

In [ ]:
tuple2=("Pial",1831014)

Tuple is iterable.

In [ ]:
for i in tuple2:
    print(i)

Pial
1831014

####  **Exercise 7.1**

In [ ]:
starting_tuple=("Yoda","Han Solo","R2D2","C3PO")

In [ ]:
converted_list=list(starting_tuple)
converted_list.append("Darth Vader")
final_tuple=tuple(converted_list)

In [ ]:
final_tuple

('Yoda', 'Han Solo', 'R2D2', 'C3PO', 'Darth Vader')

## **Dictionaries**

In [ ]:
basic_dict={0:1,1:2,2:3} #key:value

instead of "index" used in lists, we use "key" in dictionaries to access an element, which is called "value" in the context of a dictionary.

In [ ]:
basic_dict[0]

1

We can use any kind of data as keys and values.

In [20]:
basic_dict1={"0":1,"1":2,"2":3,3:"4"}

In [3]:
basic_dict1["0"]

1

In [4]:
basic_dict1[3]

'4'

We can modify the dictionaries.

In [6]:
basic_dict1[2]=0
basic_dict1

{'0': 1, '1': 2, '2': 3, 3: '4', 2: 0}

Instead of using square brackets, we can use "get" method.

In [7]:
basic_dict1.get("0") # this is similar to basic_dict1["0"]

1

Using "items" method shows the dictionary elements in a tuple, with the represention of the key-value pairs as tuples.

In [8]:
basic_dict1.items()

dict_items([('0', 1), ('1', 2), ('2', 3), (3, '4'), (2, 0)])

The "keys" method shows the keys in the dictionary.

In [14]:
basic_dict1.keys()

dict_keys(['0', '1', '2', 3])

If we want to see the keys of a sub-dictionary, we should use its corresponding key with the "keys" method as follows.

In [21]:
# the following cell is the actual demonstration. This cell is just used to create a sub-dictionary.
basic_dict1["address"]={"city":"Dhaka","country":"Bangladesh"}
basic_dict1

{'0': 1,
 '1': 2,
 '2': 3,
 3: '4',
 'address': {'city': 'Dhaka', 'country': 'Bangladesh'}}

In [17]:
basic_dict1["address"].keys()

dict_keys(['city', 'country'])

To see values, we can use "values" method in the same way as "keys".

To remove a key, we can use "pop" method. If we want to store the value of the removed key, we should assign it to a variable.

In [22]:
v=basic_dict1.pop(3) # the variable "v" stores the removed key
v

'4'

In [23]:
basic_dict1

{'0': 1, '1': 2, '2': 3, 'address': {'city': 'Dhaka', 'country': 'Bangladesh'}}

You see? No key called 3, and the value of that key is stored in the variable "v".

The method "popitem" removes all the elements in the dictionary.

#### **Exercise 7.2**

In [34]:
allegiances = {
    "Luke Skywalker":"Rebel Alliance",
    "Darth Vader":"Galactic Empire",
    "Obi-Wan Kenobi":"Jedi Order"
    }

In [36]:
allegiances.get("Darth Vader") # or, allegiances["Darth Vader"]

'Galactic Empire'

In [38]:
allegiances["Darth Vader"]="Sith Order" # or, allegiances.update({"Darth Vader":"Sith Order"})

In [39]:
allegiances.update({"Leia":"Rebel Alliance"}) # or,allegiances["Leia"]="Rebel Alliance"

In [43]:
for keys, values in allegiances.items():
    print(f"{keys} belongs to {values}.")

Luke Skywalker belongs to Rebel Alliance.
Darth Vader belongs to Sith Order.
Obi-Wan Kenobi belongs to Jedi Order.
Leia belongs to Rebel Alliance.

## **Sets**

Sets don't contain duplicates.

Let's convert a list with duplicate elements to a set.

In [53]:
list1=[1,1,2,2,3,3,4,4,5,5]
set1=set(list1)
set1

{1, 2, 3, 4, 5}

In [54]:
set1.add(6) # to add an element to a set
set1

{1, 2, 3, 4, 5, 6}

A set will never contain a duplicate even if we try to do.

In [55]:
set1.add(1) # 1 already exists in set1
set1

{1, 2, 3, 4, 5, 6}

In [56]:
set1.difference(list1) # to find the difference between two sets, or a set and any kind of other iterable

{6}

In [57]:
set1.intersection(list1) # to find the intersection of two sets, or a set and any kind of other iterable

{1, 2, 3, 4, 5}

In [58]:
set1.pop() # to remove the first element from a set

1

In [59]:
set1

{2, 3, 4, 5, 6}

In [60]:
set1.union(list1) # to find the union of two sets, or a set and any kind of other iterable

{1, 2, 3, 4, 5, 6}