<a href="https://colab.research.google.com/github/nayem-uddin/udemy-python-course/blob/main/Level_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Arithmatic Operations in Python**

In [1]:
age = 44.4
print(age+1*2) # multiplication executes before plus or minus

46.4

In [3]:
print((age+1)*2) # add 1 first, then multiply by 2

90.8

In [4]:
print(age**2) # age to the power 2, or age squared

1971.36

#### **Exercise 3.1**

In [7]:
Ahsoka_height = 1.70
Yoda_height = 0.66
R2D2_height = 1.09
C3P0_height = 1.75

In [8]:
print((Ahsoka_height+Yoda_height+R2D2_height+C3P0_height)/4)

1.3